
#featured-slider-wrapper {

	#featured-slider {

		.slider-inner {

			.featured-slide {
				position: relative;

				.slider-title {
					z-index: 100;
				}

				.slider-image {
					display: block;
					@include size(40vw, 60vw);
					@include position(absolute, top 0 right 0);
					background-size: cover;
					background-position: top center;
				}

				.slider-link {
					z-index: 100;
				}

			}

		}

	}

}