
//==================== WEBFONTS: ==================
//==================================================

@font-face {
    font-family: 'Space Grotesk';
    src: url('#{$path-font}/SpaceGrotesk-Light.woff2') format('woff2'),
        url('#{$path-font}/SpaceGrotesk-Light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Space Grotesk';
    src: url('#{$path-font}/SpaceGrotesk-Regular.woff2') format('woff2'),
        url('#{$path-font}/SpaceGrotesk-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Space Grotesk';
    src: url('#{$path-font}/SpaceGrotesk-Bold.woff2') format('woff2'),
        url('#{$path-font}/SpaceGrotesk-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Morganite';
    src: url('#{$path-font}/Morganite-ExtraBold.woff2') format('woff2'),
        url('#{$path-font}/Morganite-ExtraBold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}


// #Global

h1,h2,h3,h4,
.h1,.h2,.h3,.h4 {
  font-family: $hfont;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 0.04em;
  line-height: .8;
  color: $white;
}

h1 {
}

h2 {
}

h3 {
}

h4 {

}

h5 {

}

h6 {

}

.page-title {
  font-family: $hfont;
  font-weight: bold;
  text-transform: uppercase;
  font-size: 100px;
  line-height: .8;
  letter-spacing: 0.04em;
  display: table;
  position: relative;

  @include media($lg-mobile) {
    font-size: 132px;
  }

  &:after {
    content: '';
    display: block;
    width: 30%;
    height: 8px;
    background: $yellow;
    margin-top: 20px;
  }
}

.title--large {
  font-family: $hfont;
  font-weight: bold;
  text-transform: uppercase;
  font-size: 120px;
  line-height: .8;
  letter-spacing: 0.04em;

  @include media($lg-mobile) {
    font-size: 200px;
  }

  @include media($md-tablet) {
    font-size: 250px;
  }

  @include media($md-desktop) {
    font-size: 300px;
  }

  &:after {
    content: '';
    display: block;
    width: 30%;
    height: 10px;
    background: $yellow;
    margin-top: 20px;

    @include media($lg-mobile) {
      height: 20px;
      margin-top: 50px;
    }
  }
}

.pull-quote {
  position: relative;
  font-family: $hfont;
  font-weight: bold;
  text-transform: uppercase;
  font-size: 100px;
  color: $darkgreen;
  line-height: 1.1;
  letter-spacing: 0.04em;

  &:before {
    content:'';
    display: block;
    position: absolute;
    top: 0;
    left: -100px;
    @include size(70px,70px);
    background-image: url('#{$path-img}/quote.png');
    background-size: contain;
    background-repeat: no-repeat;
  }
}