
//==================== WEBFONTS: ==================
//==================================================

@font-face {
    font-family: 'Space Grotesk';
    src: url('#{$path-font}/SpaceGrotesk-Regular.woff2') format('woff2'),
        url('#{$path-font}/SpaceGrotesk-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Space Grotesk';
    src: url('#{$path-font}/SpaceGrotesk-Bold.woff2') format('woff2'),
        url('#{$path-font}/SpaceGrotesk-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Morganite';
    src: url('#{$path-font}/Morganite-ExtraBold.woff2') format('woff2'),
        url('#{$path-font}/Morganite-ExtraBold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}


// #Global

h1,h2,h3,h4,
.h1,.h2,.h3,.h4 {
  font-family: $hfont;
  font-weight: bold;
  text-transform: uppercase;
}

h1 {
}

h2 {
}

h3 {
}

h4 {

}

h5 {

}

h6 {

}

.title--large {
  font-family: $hfont;
  font-weight: bold;
  text-transform: uppercase;
  font-size: 120px;
  line-height: .8;
  letter-spacing: 0.04em;

  @include media($lg-mobile) {
    font-size: 200px;
  }

  @include media($md-tablet) {
    font-size: 250px;
  }

  @include media($md-desktop) {
    font-size: 300px;
  }

  &:after {
    content: '';
    display: block;
    width: 50%;
    height: 20px;
    background: $yellow;
    margin-top: 50px;
  }
}