
.page-bio {
	background: $white!important;

	#bio-content {
		.row {
			@include media($lg-mobile) {
				display: grid;
				grid-template-columns: 26% 70%;
				column-gap: 4%;
			}

			.col {

				&.col-1 {
					display: none;

					@include media($lg-mobile) {
						display: block;
					}

					.bio-image {
						margin-top: 100px;
						display: block;
						width: 100%;

						img {
							display: block;
							width: 100%;
						}
					}

					.bio-quote {
						margin-top: 50px;

						@include media($lg-mobile) {
							margin-top: 100px;
						}
					}
				}

				&.col-2 {
					.bio-title {

						@include media($lg-mobile) {
					    font-size: 200px;
					  }

					  @include media($md-tablet) {
					    font-size: 250px;
					  }

						
						@include media($md-tablet) {
							font-size: 300px; 
						}

						@include media($md-tablet) {
							font-size: 300px; 
						}

						@include media($desktop) {
							font-size: 400px; 
						}
					}

					.full-bio {
						padding-top: 50px;

						@include media($lg-mobile) {
							padding-top: 100px;
						}

						p {
							font-weight: $light;
							letter-spacing: 0.04em;
							font-size: 18px;
							line-height: 2;

							&:not(:last-of-type) {
								padding-bottom: 40px;
							}
						}
					}	
				}
			}
		}
	}

}