 #contact-info {

 	@include media($sm-tablet) {
		margin-bottom: 50px;
	}

 	.contact-email {
 		text-align: right;
 		color: $white;
 		font-family: $bfont;
 		font-weight: bold;
 		text-transform: uppercase;
 		letter-spacing: 0.04em;

 		.email-title {
 			display: block;
 			font-size: 20px;

 			@include media($sm-tablet) {
 				font-size: 40px;
 			}
 		}

 		.email-address {
 			display: table;
 			font-size: 25px;
 			color: $yellow;
 			position: relative;
 			margin-left: auto;
 			margin-right: 0;

 			@include media($lg-mobile) {
 				font-size: 30px;
 			}

 			@include media($sm-tablet) {
 				font-size: 50px;
 			}

 			@include media($sm-desktop) {
 				font-size: 70px;
 			}

 			&:after {
 				content: '';
 				display: block;
 				width: 75%;
 				height: 2px;
 				background: $white;
 				margin: 50px 0 0 auto;

 				@include media($sm-tablet) {
	 				margin: 100px 0 0 auto;
	 			}
 			}
 		}
 	}
 }