 
body.page-shop {
	background: rgb(16,22,27);
	background: linear-gradient(0deg, rgba(16,22,27,1) 0%, rgba(22,31,37,1) 35%, rgba(255,166,43,1) 65%, rgba(255,166,43,1) 100%);

	ul.products {
		display: grid;
		grid-gap: 0px;
		grid-auto-rows: 1fr;

		@include media($lg-mobile) {
			grid-template-columns: repeat(3,1fr);
			grid-gap: 0px;
		}

		&:before {
			display: none;
		}

		&:after {
			display: none;
		}

		li.product {
			padding: 75px 35px 35px;
			margin: 0;
			display: flex;
			align-items: center;
			justify-content: center;
			flex-direction: column;
			position: relative;

			&:nth-of-type(odd) {
				background: $darkgreen;
			}

			&:nth-of-type(even) {
				background: $darkgreen2;
			}

			.add_to_cart_button {
				@include position(absolute, top 20px left 35px);
				text-transform: uppercase;
				margin-top: 0;
				background: transparent;
				color: $white;
				border: 1px solid $white;
				font-weight: 500;
				font-size: 14px;
				line-height: 1;
				border-radius: 0;
				padding: 10px 18px;
				letter-spacing: 0.06em;
			}

			.woocommerce-loop-product__title {
				font-family: $bfont;
				font-weight: $light;
				text-transform: uppercase;
			}
		}
	}

}