// #Header-Styles

#main-header {
	@include position(fixed, top 0 left 0);
	@include size(100vw, auto);
	z-index: 99999;

	.nav-wrapper {
		background: $yellow;
		@include position(fixed, top 0 left 0);
		@include size(100vw, 100vh);
		z-index: 99998;
		overflow: hidden;
		padding: 30px;
		
		nav {
			@include size(100%, 100%);
			display: flex;
			flex-direction: column;
			align-items: center;

			.menu-main-menu-container {
				margin: auto;
				text-align: left;

				@include media($sm-tablet) {
					width: 80%;
				}


				#header-menu {
					list-style: none;
					padding: 0!important;

					.menu-item {
						font-family: $hfont;
						text-transform: uppercase;
						font-size: 100px;
						line-height: .8;

						@include media($sm-tablet) {
							font-size: 150px;
						}

						@include media($md-desktop) {
							font-size: 200px;
						}

						a {
							color: $white;
						}
					}
				}	
			}	
		}
	}
}
