// #Header-Styles

#main-header {
	@include position(fixed, top 0 left 0);
	@include size(100vw, auto);
	z-index: 99999;

	.header-container {
		width: 80vw;
		margin: 35px auto 0;
		position: relative;
		z-index: 999999;
		display: flex;
		align-items: center;

		.nav-menu-trigger {
			display: block;
			margin: auto auto auto 0;

	    .bar {
	    	width: 100px;
	    	display: flex;
	    	align-items: center;
	    	font-size: 11px;
	    	font-family: $bfont;
	    	font-weight: bold;
	    	letter-spacing: .16em;
	    	color: $yellow;

	    	&:first-of-type {
	    		margin-bottom: 13px;
	    	}

	    	&:last-of-type {
	    		&:before {
	    			margin-right: 10px;
	    		}
	    	}

	    	&:before {
	    		content: '';
	    		display: block;
	    		@include size(100%, 8px);
	    		background: $white;
	    	}

	    	.close {
	    		display: none;
	    	}
	    }
		}	

		.sound-trigger {
			display: block;
			margin: auto 0 auto auto;
			font-size: 12px;
			font-weight: bold;
			letter-spacing: .16em;
			color: $white;
		}
	}

	.nav-wrapper {
		background: $yellow;
		@include position(fixed, top 0 left 0);
		@include size(100vw, 100vh);
		z-index: 99998;
		overflow: hidden;
		padding: 50px 30px 30px;
		transform: translateY(-150%);
		opacity: 0;
		transition: transform .35s ease-in-out, opacity .2s ease-in-out;
		
		nav {
			@include size(100%, 100%);
			display: flex;
			flex-direction: column;
			align-items: center;

			.menu-main-menu-container {
				margin: 35px auto auto 0;
				text-align: left;
				width: 80vw;

				@include media($sm-tablet) {
					margin: auto;
				}


				#header-menu {
					list-style: none;
					padding: 0!important;

					.menu-item {
						font-family: $hfont;
						text-transform: uppercase;
						font-size: 100px;
						line-height: .8;
						letter-spacing: 0.02em;

						@include media($sm-tablet) {
							font-size: 150px;
						}

						@include media($md-desktop) {
							font-size: 200px;
						}

						a {
							color: $white;
						}
					}
				}	
			}	
		}
	}
}

body.nav-dark {
	.nav-menu-trigger {
		.bar {
			color: $green;

			&:before {
				background: $darkgreen;
			}
		}
	}

	.sound-trigger {
		color: $darkgreen;
	}
}

body.nav-open {
	#main-header {
		.nav-menu-trigger {
			.bar {
				color: $white!important;

				.open {
					display: none;
				}

				.close {
					display: initial;
				}
			}
		}

		.nav-wrapper {
			transform: translateY(0);
			opacity: 1;
		}
	}
}
