// #Text-Variables
$hfont  	 : 'Morganite', sans-serif;
$bfont  	 : 'Space Grotesk', sans-serif;

$light : 300;
$norm  : 400;
$med   : 500;
$semi  : 600;
$bold  : bold;

$white	: #ffffff;
$black 	: #000000;
$blue   : #1f6f8b;
$gray   : #bbb2a6;
$green  : #006a71;
$darkgreen  : #1b262c;
$darkergreen : #030506;
$yellow : #ffa62b;

$gradient : linear-gradient(180deg, rgba(27,38,44,1) 0%, rgba(22,31,37,1) 35%, rgba(3,5,6,1) 100%);

$inherit : inherit;
$trans	 : transparent;

$trans-fast  : all 150ms ease-in-out;
$trans-slow  : all 300ms ease-in-out;
$trans-cubic : cubic-bezier(0.48, 0.96, 0.57, 1.02);


// #Breakpoints
// $breakpoints: (
//   'large':  ( max-width: 1200px )
// );

$breakpoints: (
  'small':  767px,
  'medium': 980px,
  'large':  1200px
) !default;


// #File-Paths
$path-img  : '../../assets/images';
$path-font : '../../assets/fonts';

$breakpoint-tablet: 1200px;
